<?xml version="1.0"?>

<model>
  <name>Distributed Systems Department</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
    <name>Stephan Opfer</name>
    <email>opfer@vs.uni-kassel.de</email>
  </author>

  <description>
    This model includes the floorplan of the Distributed Systems department of the University of Kassel, Germany. It only includes the walls and the floor with some extra space and an enclosing wall arround everything. 
  </description>
</model>
