<?xml version="1.0"?>

<model>
  <name>Box</name>
  <version>1.0</version>
  <sdf version='1.4'>box.sdf</sdf>

  <author>
    <name>Stephan Opfer</name>
    <email>opfer@vs.uni-kassel.de</email>
  </author>

  <description>
    A box for logistic tasks or block world scenarios.
  </description>
</model>
