<?xml version="1.0"?>

<robot
        xmlns:xacro="http://ros.org/wiki/xacro"
>

    <xacro:arg name="gpu" default="false"/>
<xacro:property name="gpu" value="$(arg gpu)"/>

    <xacro:include filename="$(find p2os_urdf)/defs/pioneer3at_body.xacro" />

    <xacro:macro name="velodyne">
        <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
        <VLP-16 parent="top_plate" name="velodyne" topic="/velodyne_points" hz="40" samples="440" gpu="${gpu}">
            <origin xyz="0 0 0.4" rpy="0 0 0"/>
        </VLP-16>
    </xacro:macro>

 <!-- Makes Gazebo publishing a ground truth position. -->
  <xacro:macro name="stummel_ground_truth_pose">
    <gazebo>
      <plugin name="p3d_controller" filename="libgazebo_ros_p3d.so">
       <alwaysOn>true</alwaysOn>
       <updateRate>100.0</updateRate>
       <bodyName>base_link</bodyName>
       <topicName>ground_truth_pose</topicName>
       <frameName>/map</frameName>
       <xyzOffsets>1 1 0</xyzOffsets> <!-- option to initialize odometry for fake localization-->
       <rpyOffsets>0 0 0</rpyOffsets>
      </plugin>
    </gazebo>
  </xacro:macro>



</robot>
