<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro"
       name="coffee_bot"
>

    <xacro:include filename="$(find p2os_urdf)/defs/pioneer3at_body.xacro"/>
    <xacro:p3at_front suffix="left" reflect="1"/>
    <xacro:p3at_front suffix="right" reflect="-1"/>
    <xacro:p3at_back suffix="left" reflect="1"/>
    <xacro:p3at_back suffix="right" reflect="-1"/>
    <xacro:p3at_gazebo_ext/>
    <xacro:velodyne/>

    <xacro:include filename="$(find kinova_description)/urdf/j2n6s300.xacro" />

    <link name="kinova_root_link">
        <collision>
            <origin rpy="0 0 0"/>
            <geometry>
                <box size="0.00001 0.00001 0.00001"/>
            </geometry>
        </collision>
    </link>

    <joint name="connect_kinova_root_with_base" type="fixed">
        <origin xyz="-0.10 0 0.277"/>
        <child link="kinova_root_link"/>
        <parent link="base_link"/>
    </joint>

    <xacro:j2n6s300  base_parent="kinova_root_link"/>

</robot>
