<?xml version="1.0"?>
<launch>
  <!--<arg name="world_file"  default="$(env TURTLEBOT_GAZEBO_WORLD_FILE)"/>-->
  <arg name="world_file"  default="$(find cnc-stummeldriver)/world/distributed_systems_simple.world"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="true" />
    <arg name="world_name" value="$(arg world_file)"/>
  </include>
  
  <!-- Map server -->
  <arg name="map_file" default="$(find cnc-stummeldriver)/maps/department_sim.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map" />
  </node>

 <include file="$(find cnc-stummeldriver)/stummel_urdf/launch/upload_stummel.xml"/>
  
  <!-- publish TFs for static links -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0"/>
    <param name="tf_prefix" type="string" value=""/>
  </node>

  <!--node pkg="tf" type="static_transform_publisher" name="real_fake_odometry" args="0.93 2.8 0 -3.08 0 0 1 odom base_link 10" /-->

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_pioneer" pkg="gazebo_ros" type="spawn_model" args="-x 1.0 -y 1.0 -z 0.001 -urdf -param robot_description -model stummel" respawn="false" output="screen" />

</launch>
